*{
    padding: 0;
    margin: 0;
}

summary::marker {
    display: none
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
}

.header-top {
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-border { 
    border-top: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.17);
}

.header-top__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background: no-repeat url(img/logo.svg);
    background-size: 37%;
    padding-left: 69px;
    height: 62px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-right: 36px;
}

.dropdown {
    width: 87px;
    height: 38px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    font: 500 14px/32px lato, sans-serif;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.025em;
    color: #222222;
    position: relative;
}

.dropdown__menu {
    width: 262px;
    position: absolute;
    z-index: 1;
    left: 46%;
    margin-left: -49px;
    top: 39px;
    display: block;
    background: #fff;
    padding-left: 20px;
    text-align: left;
    padding-bottom: 22px;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.16);;
}

.dropdown__menu::before{
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    background-color: #fff;
    position: absolute;
    top: -5px;
    left: 7%;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;;
}

.fa-caret-down {
    font-family: 'Font Awesome';
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    padding-left: 7px;
    color: #838383;
}

.logo__text {
    padding: 16px 0 0 13px;
    font: 300 27px/32px lato, sans-serif;
    letter-spacing: 0.025em;
}

.logo__text_red {
    color: #f16d7f;
    font: 900 27px/32px lato, sans-serif;
}

.search-form {
    width: 317px;
    position: relative;
    border: 1px solid #e6e6e6;
    height: 38px;
}

.search-form__input:focus {
    outline: none;
}

.search-form__input {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border: 0px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    font: 300 14px/32px lato, sans-serif;
    padding-left: 3%;
    letter-spacing: 0.025em;
    color: #a4a4a4;
}

.search-form__input_submit {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-left: 1px solid #e6e6e6;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    color: #838383;
}

.header-top__right {
    display: flex;
}

.logo-basket {
    background: no-repeat url(img/basket.svg);
    background-size: 100%;
    background-position-y: bottom;
    width: 32px;
    height: 38px;
    margin-right: 26px;
}

.button__account {
    width: 130px;
    height: 35px;
    background-color: #f16d7f;
    border: 1px solid transparent;
    font: 400 15px/32px latoregular, sans-serif;
    color: #ffffff;
    padding-top: 3px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.fa-caret-down_color {
    color: #ffffff;
}

.button__account:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    background-color: #fff;
    border: 1px solid #f16d7f;
    color: #f16d7f;
}

.header-nav {
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 680px;
}

.menu-box {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu-list {
    padding: 10px;
    position: relative;
}

.menu-list:hover .megabox {
    display: block;
    z-index: 1;
}

.megabox {
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    top: 74%;
    border: 1px solid #e8e8e8;
    display: none;
}

.megabox::before{
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    position: absolute;
    top: -9px;
    left: 7%;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;;
}

.megabox_last::before {
    left: 87%;
}

.megabox_center::before {
    left: 83%;
} 

.megabox-flex {
    padding: 20px;
    margin-right: 26px;
}

.megabox-flex:last-of-type {
    margin-right: 0;
}

.megabox-flex__title {
    font: 400 14px/32px lato, sans-serif;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 8px;
    width: 235px;
}

.megabox-flex__link {
    display: block;
    text-decoration: none;
    font: 400 14px/28px lato, sans-serif;;
    color: #646464;
}

.megabox-flex__img {
    background: url(img/megabox__img.png);
    width: 255px;
    height: 118px;
}

.megabox-flex__link:hover {
    color: #f16d7f;
}

.menu__item {
    text-decoration: none;
    display: block;
    font: 700 14px/18px lato, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity 0.5s;
    padding: 17px 25px;
}

.menu-list:hover .megabox{
    display: flex;
    z-index: 1;
    box-shadow:  0 5px 8px rgba(0,0,0,0.16);
}

.center:hover .megabox{
    display: flex;
    z-index: 1;
    right: -90%;
}

.last:hover .megabox{
    display: flex;
    z-index: 1;
    right: 0;
}

.menu__item:hover {
    opacity: 1;
    transform: skew(0deg);
    color: #f16d7f;
}
  
.menu__item:hover::after {
    position: absolute;
    bottom: 10%;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #f16d7f;
}
  
.menu__item:hover::after,
.menu__item_active::after {  
    opacity: 1;
    width: 100%;
}

.banner {
    background: #E8E8E8;
    height: 613px;
}

.banner__content {
    background: no-repeat url(img/banner_main.png);
    background-size: 109%;
    height: 613px;
    background-position-y: -136px;
    background-position-x: -128%;
    position: relative;
}

.banner__content-text {
    position: absolute;
    top: 36%;
    left: 2%;
    width: 45%;
    height: 92px;
    border-left: 12px solid #f16d7f;
}

.banner__content-text_title {
    font: 900 60px/50px lato, sans-serif;
    letter-spacing: 0.025em;
    color: #222222;
    text-align: left;
    padding-left: 2%;
}

.banner__content-text_subtitle {
    font: 900 40px/52px lato, sans-serif;
    color: #222222;
    text-align: left;
    padding-left: 2%;
}

.banner__content-text_color {
    color: #f16d7f;
}

.offer {
    display: flex;
}

.offer-block__left {
    display: block;
    margin-right: 20px;
}

.offer-block__link {
    text-decoration: none;
}

.offer-block__text {
    position: absolute;
    top: 10%;
    background: white;
    text-transform: uppercase;
    font: 900 18px/21px lato, sans-serif;
    color: black;
    padding: 16px 19px;
}

.text_color {
    text-transform: uppercase;
    font: 900 30px/41px lato, sans-serif;
    color: #f16d7f;
}

.offer-block__left_top {
    background: no-repeat url(img/banner_formen.png);
    height: 542px;
    width: 560px;
    margin-top: 98px;
    margin-bottom: 20px; 
    position: relative;
}

.offer-block__left_bottom {
    background: no-repeat url(img/banner_acces.png);
    height: 261px;
    width: 560px;
    position: relative;
    margin-bottom: 100px;
}

.offer-block__right_top {
    background: no-repeat url(img/banner_woman.png);
    height: 261px;
    width: 560px;
    margin-top: 98px;
    margin-bottom: 20px;
    position: relative;
}

.offer-block__right_bottom {
    background: no-repeat url(img/banner_child.png);
    height: 542px;
    width: 560px;
    position: relative;
    margin-bottom: 100px;
}

.product {
    display: flex;
    flex-direction: column;
}

.product__title {
    font: 700 30px/54px lato, sans-serif;
    text-align: center;
}

.product__subtitle {
    font: 400 14px/28px lato, sans-serif;
    color: #9f9f9f;
    text-align: center;
    margin-bottom: 59px;
}

.product__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__card_link {
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 39px;
}

.product__card-flex {
    min-height: 364px;
    position: relative;
}

.product__card-text {
    padding-top: 19px;
    padding-left: 15px;
    font: 400 13px/20px lato, sans-serif;
    text-transform: uppercase;
}

.price {
    padding-top: 17px;
    font: 700 16px/20px lato, sans-serif;
    color: #f16d7f;
    padding-bottom: 5px;
}

.product-add {
    text-decoration: none;
    display: flex;
    
}

.product-add__item {
    position: absolute;
    color: #fff;
    border: 1px solid #fff;
    top: 98px;
    display: none;
    align-items: center;
    justify-content: center;
    left: 25%;
}

.product__card-flex:hover .product-add__item {
    display: flex;
    justify-content: center;
}

.cart-text {
    font: 700 13px/18px lato, sans-serif;
    padding: 10px;
    color: #fff;
}

.cart-img {
    padding-left: 10px;
}

.product__card-flex:hover .product__img {
    filter: brightness(50%);
}

.product__card_link:hover {
    box-shadow: 0 5px 8px rgba(0,0,0,0.16);   
}

.product__button {
    font: 700 16px/54px lato, sans-serif;
    color: #fff;
    background-color: #f16d7f;
    border: 1px solid #f16d7f;
    width: 212px;
    margin: 0 auto;
    margin-bottom: 113px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.product__button:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    background-color: #fff;
    border: 1px #f16d7f solid;
    color: #f16d7f;
}

.fa-arrow-right {
    color: #fff;
    font-family: 'Font Awesome';
    font-size: 15px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    padding-left: 7px;
}

.promo-content {
    height: 529px;
    background: #222224;
    position: relative;
    margin-bottom: 97px;
}

.promo-content__left {
    background: no-repeat url(img/promo__img.png);
    background-size: 50% cover;
    height: 100%;
    position: relative;
}

.promo-content__text {
    font: 700 54px/60px lato, sans-serif;
    color: #fff;
    padding-top: 146px;
    padding-left: 39px;
    letter-spacing: 0.025em;
}

.promo-content__text_color {
    color: #f16d7f;
}

.promo-content__text_size {
    font-size: 32px;
}

.promo-content__right {
    position: absolute;
    top: 55px;
    left: 812px;
}

.promo__main {
    display: flex;
}

.promo__text {
   padding-left: 33px;
}

.promo__img {
    height: 50%;
}

.promo__title {
    font: 700 20px/28px lato, sans-serif;
    color: #fbfbfb;
    padding-bottom: 17px;
}

.promo__subtitle {
    font: 300 14px/24px lato, sans-serif;
    width: 219px;
    color: #fbfbfb;
    padding-bottom: 41px;
}

.feedback {
    background: no-repeat rgba(242, 242, 242, 0.4) url(img/aside.png);
    height: 438px;
    background-size: cover;
    background-blend-mode: color;
}

.feedback-sec {
    display: flex;
    justify-content: space-between;
}

.feedback__block {
    display: flex;
    width: 497px;
    flex-wrap: wrap;
    height: 101px;
    padding-top: 123px;
}

.feedback__img {
    height: 83px;
}

.feedback__text {
    font: 400 italic 16px/26px lato, sans-serif;
    color: #222224;
    letter-spacing: 0.025em;
    width: 386px;
    padding-left: 28px;
}

.feedback__bd {
    width: 1px;
    height: 438px;
    background-color: #ffffff;
    margin-left: 72px;
}

 .feedback__sig {
    padding-left: 110px;
    font: 700 16px/26px lato, sans-serif;
    letter-spacing: 0.025em;
    color: #f16d7f;
    height: 27px;
}

.feedback__sig_simple {
    padding-top: 0;
    color: #222224;
    font: 300 12px/14px lato, sans-serif;
}

.feedback__form {
    margin: 0 auto;
}

.feedback__title {
    color: #222224;
    font: 400 24px/40px lato, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.025em;
    padding-top: 123px;
}

.feedback__subtitle {
    color: #222224;
    font: 400 14px/24px lato, sans-serif;
    text-align: center;
    margin-bottom: 35px;
}

.feedback__input {
    display: flex;
}

.feedback__email {
    margin: 0 auto;
    width: 282px;
    height: 46px;
    border-radius: 23px 0 0 23px;
    border: 1px solid #e1e1e1;
    background-color: #e1e1e1;
    padding-left: 28px;
    font: 400 14px/38px lato, sans-serif;
}

.feedback__email:focus {
    outline: none;
}

.feedback__button {
    height: 48px;
    color: #fff;
    font: 400 14px/38px lato, sans-serif;
    border-radius: 0 23px 23px 0;
    border: 1px solid #f16d7f;
    background-color: #f16d7f;
    width: 100px;
    align-items: center;
}

.feedback__button:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    background-color: #fff;
    border: 1px #f16d7f solid;
    color: #f16d7f;
}

.footer__main {
    padding-top: 120px;
    display: flex;
    padding-bottom: 89px;
}

.footer__logo {
    display: flex;
    padding-top: 9px;
    padding-bottom: 41px;
}

.footer__text {
    font: 300 14px/24px lato, sans-serif;
    color: #898989;
    width: 427px;
    letter-spacing: 0.025em;
}

.footer__left {
    margin-right: 64px;
}

.footer__right {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 10px;
}

.footer__title {
    font: 600 18px/26px lato, sans-serif;
    letter-spacing: 0.025em;
    color: #f16d7f;
    margin-bottom: 37px;
}

.footer__link {
    display: block;
    text-decoration: none;
    font: 400 16px/29px lato, sans-serif;;
    color: #898989;
}

.footer__link:hover {
    color: #f16d7f;
}

.footer__menu {
    list-style-type: none;
}

.footer__item {
    padding: 9px 10px;
}

.footer-end {
    height: 79px;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
}

.footer-end__main {
    display: flex;
    justify-content: space-between;
}

.footer-end__text {
    font: 400 16px/42px lato, sans-serif;
    letter-spacing: 0.025em;
    color: #7a7a7a;
}

.social {
    font-size: 16px;
    color: #b2b2b2;
}

.footer-end__icons {
    display: inline-block;
    margin-right: 7px;
    padding: 5px 7px;
    background: #fff;
    border: 1px solid #b2b2b2;
}

.footer-end__icons:hover {
    background: #f16d7f;
    border: 1px solid #f16d7f;
    color: #fff;
}

.single__top {
    height: 148px;
    background: #f8f3f4;
}

.top-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
}

.top__title {
    text-transform: uppercase;
    color: #f16d7f;
    font: 900 24px/20px lato, sans-serif;
}

.top__links_item {
    text-transform: uppercase;
    color: #636363;
    font: 300 14px/20px lato, sans-serif;
    text-decoration: none;
}

.top__links_item:hover {
    color: #f16d7f;
}

.top__links_item_active {
    font-weight: 700;
    color: #f16d7f;
}

.single__content {
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    height: 777px;
}

.single__card {
    display: flex;
    justify-content: center;
    position: relative;
}

.single__descrip {
    height: 1335px;
}

.single__descrip-card {
    border: 1px solid #eaeaea;
    position: absolute;
    background-color: #ffffff;
    top: 985px;
    z-index: 1;
    left: 5%;
}

.single__descrip-narrow {
    width: 640px;
    margin: 0 auto;
    padding-top: 73px;  
}

.single__subtitle {
    text-transform: uppercase;
    color: #4d4d4d;
    font: 900 18px/24px lato, sans-serif;
    text-align: center;
    padding-top: 34px;
    padding-bottom: 67px;
}

.single__text {
    color: #5e5e5e;
    font: 300 14px/24px lato, sans-serif;
    text-align: center;
}

.single__text_title {
    font-weight: 700;
    color: #f16d7f;
    width: 160px;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
    margin: 0 auto;
}

.single__text_title::after {
    display: block;
    content: '';
    height: 3px;
    background: #f16d7f;
    width: 41%;
    margin: 0 auto;
}

.charac {
    display: flex;
    justify-content: space-around;
    padding-top: 28px;
}

.single__text_gray {
    font-weight: 700;
    color: #b9b9b9;
}

.single__text_black {
    font-weight: 700;
    color: #2f2f2f;
}

.single__price {
    font: 700 24px/24px lato, sans-serif;
    color: #ef5b70;
    padding: 37px 0;
    text-align: center;
}

.color__option {
    font: 400 13px/24px lato, sans-serif;
    color: #bcbcbc;
}

details > summary {
    list-style: none;
    height: 100%;
    align-items: center;
}

.option-content {
    margin-bottom: 20px;
}

.option-content__menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font: 700 14px/24px lato, sans-serif;
    color: #2f2f2f;
    padding-top: 70px;
}

.option-color {
    width: 144px;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font: 400 13px/24px lato, sans-serif;
    color: #bcbcbc;
    text-align: center;
    align-items: center;
    position: relative;
    margin-top: 16px;
}

.option-content__item {
    text-align: center;
    margin-bottom: 5px;
}

.option-color summary:after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: transform 0.2s;
    will-change: transform;
    margin-left: 77px;
}
  
details[open] > summary:after {
    content: "\f146";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.option-submenu {
    width: 144px;
    position: absolute;
    z-index: 1;
    font: 400 13px/24px lato, sans-serif;
    color: #2f2f2f;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.16);;
}

.option-submenu__content {
    list-style-type: none;
}

.option-content__input {
    width: 144px;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font: 400 13px/24px lato, sans-serif;
    color: #bcbcbc;
    margin-top: 16px;
    outline: #9f9f9f;
}

.product__button_wide {
    width: 537px;
    background-color: #fff;
    border: 1px #f16d7f solid;
    color: #f16d7f;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.product__button_wide:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    color: #fff;
    background-color: #f16d7f;
    border: 1px solid #f16d7f;   
}

.single__title {
    font: 900 24px/20px lato, sans-serif;
    padding-top: 752px;
    padding-bottom: 72px;
    text-transform: uppercase;
    color: #4d4d4d;
    text-align: center;
}

.product__img_height {
    height: 280px;
    width: 260px;
    background-color: #e9e9e9;
}

.product__card-flex_margin {
    margin-bottom: 73px;
}